<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    <div class="container-fruit">
        <div class="row" style="height: 60px;">
            <div style="font-size: 200%;
                text-align: center;font-weight: 600;
                display: block;">
                Quản lý đội bóng
            </div>
        </div>
    </div>
    <!-- menu -->
    <div class="container-fruit" style="height: 50px; background-color:blanchedalmond;font-size: 25px;">
        <table>
            <tr>
                <th style="width: 800px; text-align: center;"><a style="color: brown;" href="/">Trang chủ</a></th>
                <th style="width: 800px;text-align: center;"><a style="color: black;" href="/dangkycauthu">Đăng ký cầu thủ</a></th>
                <th style="width: 800px;text-align: center;"><a style="color: brown;" href="#">Lên lịch thi đấu</a></th>
                <th style="width: 800px;text-align: center;"><a style="color: brown;" href="#">Phân công trọng tài</a></th>
                <th style="width: 800px;text-align: center;"><a style="color: brown;" href="#">Đăng xuất</a></th>
            </tr>
        </table>
        <div class="container">
            <img style="width: 100%; height:490px;;" src="nen.jpg">
        </div>
        <div class="footer" style="text-align: center;">
            <span> Coding by NguyenVanDong.
                <br> Hotline: 0332604789
            </span>
        </div>
    </div>
</body>

</html>